h1
{
    color: red;
    font-weight: bold;
}

#tituloform
{
    font-style: italic;  
}

.esverdeado
{
    background-color: aquamarine;
}

/* cometarios que preferir colocar
*/
body
{
    background-image:url("../image/fundo.jpg");
}
